.hidden {
  display: none;
}

body {
  font-family: "Quattrocento Sans", sans-serif;
  color: #707070;
  font-size: 6.5vw;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 4.5vw;
}

h1, h3, .sectionHeading {
  color: #52BCB9;
  margin-top: 40px;
}

h1, .sectionHeading {
  text-align: center;
  font-size: 9.5vw;
}

.container {
  margin: 20px;
}

header {
  margin: 20px;
}
header nav {
  display: none;
}
header nav a {
  text-decoration: none;
  color: #707070;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
}

#heroCircles #heroText {
  text-align: center;
}
#heroCircles .overlay {
  position: absolute;
}
#heroCircles .topRight {
  background-color: #FFD344;
  margin-left: 57.925vw;
  margin-top: -70vw;
  width: 17.5vw;
  height: 17.5vw;
}
#heroCircles .bottomLeft {
  background-color: rgba(82, 188, 185, 0.48);
  margin-top: -17.5vw;
  width: 17.5vw;
  height: 17.5vw;
}
#heroCircles .backLayer {
  background-color: rgba(82, 188, 185, 0.48);
  z-index: -1;
  margin-top: -70vw;
  margin-left: 7vw;
  width: 10.5vw;
  height: 10.5vw;
}
#heroCircles .small {
  width: 6.3vw;
  height: 6.3vw;
}
#heroCircles .topLeft {
  background-color: #FFD344;
  margin-top: -66.5vw;
  margin-left: -10px;
}
#heroCircles .bottomRight {
  background-color: rgba(82, 188, 185, 0.48);
  margin-top: -11.6666666667vw;
  margin-left: 70vw;
}
#heroCircles .middleRight {
  background-color: #FFD344;
  margin-left: 86.1vw;
  margin-top: -44.1vw;
}
#heroCircles .mainCircle {
  background-color: #F4B582;
  padding-left: 30px;
  color: white;
  box-shadow: 2px 2px 5px 1px rgba(112, 112, 112, 0.14);
  width: 70vw;
  height: 70vw;
  font-size: 7.25vw;
}

.ctaButton {
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  background: rgba(37, 176, 172, 0.66) 0%;
  background: linear-gradient(90deg, rgba(37, 176, 172, 0.66) 0%, rgba(67, 232, 227, 0.48) 100%);
  margin-top: 20px;
}

.analyticsCircle, .customSystemsCircle, .customTrackingCircle {
  width: 300px;
  height: 300px;
}

.customTrackingCircle {
  background-color: rgba(255, 211, 68, 0.5);
}

.customSystemsCircle {
  background: rgba(37, 176, 172, 0.66) 0%;
  background: linear-gradient(0deg, rgba(37, 176, 172, 0.66) 0%, rgba(67, 232, 227, 0.48) 100%);
}

.analyticsCircle {
  background-color: rgba(255, 211, 68, 0.5);
}

.featuresImage {
  position: absolute;
}

.customTrackingImage {
  margin-top: -240px;
  margin-left: 50px;
}

.customSystemsImage {
  margin-top: -240px;
  margin-left: 50px;
}

.analyticsImage {
  margin-top: -240px;
  margin-left: 50px;
}

#techStackGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
}
#techStackGrid img {
  height: 80px;
}
#techStackGrid .adjustHeight {
  height: 70px;
}
#techStackGrid .adjustWidth {
  width: 150px;
  height: auto;
  margin-left: -45px;
}

@media screen and (min-width: 768px) {
  nav a {
    font-size: 20px;
  }

  #heroCon {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  #heroCon #heroText {
    text-align: left;
  }

  .topRight {
    margin-left: 496.5px;
    margin-top: -600px;
    width: 150px;
    height: 150px;
  }

  .bottomLeft {
    margin-top: -150px;
    width: 150px;
    height: 150px;
  }

  .backLayer {
    margin-top: -600px;
    margin-left: 60px;
    width: 90px;
    height: 90px;
  }

  .small {
    width: 54px;
    height: 54px;
  }

  .topLeft {
    margin-top: -570px;
    margin-left: -10px;
  }

  .bottomRight {
    margin-top: -100px;
    margin-left: 600px;
  }

  .middleRight {
    margin-left: 738px;
    margin-top: -378px;
  }

  .mainCircle {
    padding-left: 30px;
    width: 600px;
    height: 600px;
    font-size: 55px;
    background-color: red;
  }

  #heroText p, .ctaButton {
    font-size: 7.25vh;
  }

  nav {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
