@charset "UTF-8";

$desktopWidth: 768px;
$grayWhite: #F0F0F0;

$baseMargin: 10px;

$teal: #52BCB9;//25b0ac;
$gradientTeal1: rgba(37,176,172,0.66);// ~
$gradientTeal2:  rgba(67,232,227,0.48);
$translucentTeal: rgba($teal, 0.48); //#25b0ac
$blushPink: #F4B582;
$melon: #FFD344;
$gray: #707070;
$translucentGray: rgba($gray, 0.14); //~

@mixin gradient($angle, $color1, $color2) {
    background: $color1;
    background: linear-gradient($angle, $color1, $color2 100%); 
}

@mixin softUiShadow() {
    box-shadow:
        -5px -5px 15px 0 white,
        5px 5px 15px 0 transparentize(black, 0.9);  
}

.hidden {
	display: none;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: $gray;
    font-size: 6.5vw;
    background-color: $grayWhite;
}

p { 
    margin-top: $baseMargin;
    margin-bottom: $baseMargin * 2;

    // mobile styles
    font-size: 4.5vw;
}

h1, h3, .sectionHeading { 
    color: $teal;
    margin-top: $baseMargin * 4;
    // font-weight: bold;
}

h1, .sectionHeading {
    text-align: center;
    font-size: 9.5vw;
}

.container {
    margin: $baseMargin * 2;
}

header {
    margin: $baseMargin * 2;

    nav {
        display: none; //~hide in mobile mode
        a {
            text-decoration: none;
            color: $gray; 
        }
    }
}

.circle {
    border-radius: 50%;
    
    display: flex;
    align-items: center;
}

// hero section - circlesdesktopNav
#heroCircles {
    #heroText {
        text-align: center;
    }
    
    .overlay {
        position: absolute;
    }
    
    $mblMainCircleDim: 70vw;
    
    .topRight {
        background-color: $melon;
    
        // mobile styles
        margin-left: $mblMainCircleDim - $mblMainCircleDim * 0.15 * 1.15;
        margin-top: - $mblMainCircleDim;
        width: $mblMainCircleDim * 0.25;
        height: $mblMainCircleDim * 0.25;
    }
    
    .bottomLeft {
        background-color: $translucentTeal;
        
        // mobile styles
        margin-top: - $mblMainCircleDim * 0.25;
        width: $mblMainCircleDim * 0.25;
        height: $mblMainCircleDim * 0.25;
    }
    
    .backLayer {
        background-color: $translucentTeal;
        z-index: -1;
        
        // mobile styles
        margin-top: - $mblMainCircleDim;
        margin-left: $mblMainCircleDim * 0.1;
        width: $mblMainCircleDim * 0.15;
        height: $mblMainCircleDim * 0.15;
    }
    
    .small {
        // mobile styles
        width: $mblMainCircleDim * 0.09;
        height: $mblMainCircleDim * 0.09;
    }
    
    .topLeft {
        background-color: $melon;
    
        // mobile styles
        margin-top: - $mblMainCircleDim * 0.95;
        margin-left: -$baseMargin;
    }   
    
    .bottomRight {
        background-color: $translucentTeal;
    
        // mobile styles
        margin-top: - $mblMainCircleDim * (0.25 / 1.5);
        margin-left: $mblMainCircleDim;
    }   
    
    .middleRight {
        background-color: $melon;
        
        // mobile styles
        margin-left: $mblMainCircleDim * 1.23;
        margin-top: - $mblMainCircleDim * 0.63;
    }
    
    .mainCircle {
        background-color: $blushPink;    
        padding-left: $baseMargin * 3;
        color: white;
    
        box-shadow: 2px 2px 5px 1px $translucentGray;
    
        // mobile styles
        width: $mblMainCircleDim;    
        height: $mblMainCircleDim;
        font-size: 7.25vw;
    }
}

.ctaButton {
    border-radius: $baseMargin * 5;
    padding: $baseMargin;
    padding-left: $baseMargin * 3;
    padding-right: $baseMargin * 3;
    // font-size: $baseMargin;//~
    font-size: 20px;

    text-decoration: none;
    // color: white;

    // @include gradient(90deg, $gradientTeal1 0%, $gradientTeal2);

    margin-top: $baseMargin * 2;
    
    color: $gray;
    background-color: $grayWhite;

    @include softUiShadow();
}

// features section 
$mblFeaturesCircleDim: 300px;

%featuresCircles {
    width: $mblFeaturesCircleDim; 
    height: $mblFeaturesCircleDim;
}

.customTrackingCircle {
    @extend %featuresCircles;
    background-color: transparentize($melon, 0.5); 
    margin-left: 43vw;
}

.customSystemsCircle {
    @extend %featuresCircles;
    @include gradient(0deg, $gradientTeal1, $gradientTeal2);//0%
    margin-left: -30vw;
}

.analyticsCircle {
    @extend %featuresCircles;
    @include gradient(180deg, transparentize($melon, 0.5), transparentize($blushPink,0.3)); 
    margin-left: 53vw;
}

.featuresImage {
    position: absolute;
}

.customTrackingImage {
    margin-top: -240px;
    margin-left: 51vw;
}

.customSystemsImage {
    margin-top: -285px;
    margin-left: -2vw;
}

.analyticsImage {
    margin-top: -240px;
    margin-left: 25vw;
}

// tech stack 
#techStackGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;

    // mobile styles
    img {
        height: 80px;
        // width: 100px;
    }
    
    .adjustHeight {
        height: 70px;
    }

    .adjustWidth {
        width: 150px;
        height: auto;
        margin-left: $baseMargin * -4.5;
    }
}

// desktop
@media screen and (min-width: $desktopWidth) {
    nav a {
        font-size: 20px;
    }

    #heroCon {
        display: grid;
        grid-template-columns: 1.5fr 1fr;

        #heroText {
            text-align: left;
        }
    }
    
    // hero section - circles
    $desktopMainCircleDim: 600px;//40vw; //40vw
    // .mainCircle {
    //     width: $desktopMainCircleDim;    
    //     height: $desktopMainCircleDim; //300px
    //     font-size: 7.25vh;
    // }
    
    #heroCircles {
        .topRight {
            margin-left: $desktopMainCircleDim - $desktopMainCircleDim * 0.15 * 1.15;
            margin-top: - $desktopMainCircleDim;
            width: $desktopMainCircleDim * 0.25;
            height: $desktopMainCircleDim * 0.25;
        }

        .bottomLeft {
            margin-top: - $desktopMainCircleDim * 0.25;
            width: $desktopMainCircleDim * 0.25;
            height: $desktopMainCircleDim * 0.25;
        }

        .backLayer {
            margin-top: - $desktopMainCircleDim;
            margin-left: $desktopMainCircleDim * 0.1;
            width: $desktopMainCircleDim * 0.15;
            height: $desktopMainCircleDim * 0.15;
        }

        .small {
            width: $desktopMainCircleDim * 0.09;
            height: $desktopMainCircleDim * 0.09;
        }

        .topLeft {
            margin-top: - $desktopMainCircleDim * 0.95;
            margin-left: -$baseMargin;
        }   

        .bottomRight {
            margin-top: - $desktopMainCircleDim * (0.25 / 1.5);
            margin-left: $desktopMainCircleDim;
        }   

        .middleRight {
            margin-left: $desktopMainCircleDim * 1.23;
            margin-top: - $desktopMainCircleDim * 0.63;
        }

        .mainCircle {
            padding-left: $baseMargin * 3;
            width: $desktopMainCircleDim;    
            height: $desktopMainCircleDim; //300px
            // font-size: 4.5vw;
            font-size: 55px;
        }

        #heroText p {
            font-size: 7.25vh;
        }

        .ctaButton {
            font-size: 30px;
        }
    }

    nav {
        display: block; 
    }
}