@charset "UTF-8";

$desktopWidth: 768px;
$grayWhite: #F0F0F0;
$baseMargin: 10px;
$topMargin: $baseMargin * 0.5;

$lineHeight: 40px;

$bodyFontSize: 25px;
$h3FontSize: 37px;
$h1FontSize: 50px;
$mainCricleFontSize: 8vw;

$teal: #52BCB9;
$gradientTeal1: rgba(37,176,172,0.66);
$gradientTeal2:  rgba(67,232,227,0.48);
$translucentTeal: rgba($teal, 0.48);
$blushPink: #F4B582;
$melon: #FFD344;
$gray: #707070;
$translucentGray: rgba($gray, 0.14); 

@mixin gradient($angle, $color1, $color2) {
    background: $color1;
    background: linear-gradient($angle, $color1, $color2 100%); 
}

@mixin softUiShadow() {
    box-shadow:
        -5px -5px 15px 0 white,
        5px 5px 15px 0 transparentize(black, 0.9);  
}

@mixin softUiInsetShadow() {
    box-shadow:
        inset -5px -5px 15px 0 white,
        inset 5px 5px 15px 0 transparentize(black, 0.9);  
}

@mixin transformWithPrefixes($transformation) {
    -webkit-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
  }

.hidden {
	display: none;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: $gray;
    font-size: $bodyFontSize;
    background-color: $grayWhite;

    overflow-x: hidden;
}

main {
    margin: auto 30px !important;
    padding-top: 11vh;
    padding-left: 0.15vw;
}

p {
    margin-top: $baseMargin;
    margin-bottom: $baseMargin * 2;
}

h1, h3, .sectionHeading { 
    color: $teal;
    margin-top: $baseMargin * 4;
}

h1, .sectionHeading {
    text-align: center;
    font-size: $h1FontSize;
    font-weight: bold;
}

h3 {
    font-size: $h3FontSize;
    font-weight: bold;
}

.container {
    margin: $baseMargin * 2;
}

// nav
header {
    margin: $baseMargin * 2;
    
    nav {
        a {
            color: $teal;
            text-decoration: none;
        }
        a:hover {
            color: $gray;
        }
    }

    nav#desktopNav {
        margin-top: - $topMargin * 6;
        display: none; // hide in mobile mode
        
        a {
            text-decoration: none;
            color: $gray; 
        }
        ul {
            li {
                display: inline;
                margin-right: $baseMargin * 5;
            }
        }
    }

    %headerStyles {
        margin-top: - $topMargin;
        z-index: 4;
        display: flex;
        justify-content: center;
    }

    // burger animation 
    #mblNavBurger {
        transition: all 250ms ease-in-out;
        position: fixed;
        margin-left: 83vw;
        @extend %headerStyles;
        margin-top: - $topMargin * 6;
    }

    #logoImage {
        height: 5vw;//6vh;
        // margin-left: 5vw;
        @extend %headerStyles;
        padding-left: 5vw;
    }

    // css animation
    #mblNavBurger.animate { 
      @include transformWithPrefixes(rotate(90deg));
    }

    #mblNavMenu {
        margin: $baseMargin * 3;
        ul {
           li {
            text-align: center;
            margin-bottom: $baseMargin * 2;
           }
        }

        // always on top
        position: fixed;
        background-color: $grayWhite;
        z-index: 3;
        width: 100vw;
        margin-left: -$baseMargin;
        padding-top: $baseMargin * 3;
        margin-top: - $baseMargin * 2;
    }
}

.circle {
    border-radius: 50%;
    
    display: flex;
    align-items: center;

    @include softUiShadow();
}

#heroText {
    margin: $baseMargin * 3 auto;
    line-height: $lineHeight;//5vh;
    
    p { 
        margin-bottom: $baseMargin * 3.5;
    }

    margin-left: $baseMargin * 3;

    // mobile style
    text-align: center;
}

// hero section - circlesdesktopNav
#heroCircles {
    .overlay {
        position: absolute;
    }
    
    $mblMainCircleDim: 70vw;
    
    .topRight {
        background-color: $melon;
    
        // mobile styles
        margin-left: $mblMainCircleDim - $mblMainCircleDim * 0.15 * 1.15;
        margin-top: - $mblMainCircleDim;
        width: $mblMainCircleDim * 0.25;
        height: $mblMainCircleDim * 0.25;
    }
    
    .bottomLeft {
        background-color: $translucentTeal;
        
        // mobile styles
        margin-top: - $mblMainCircleDim * 0.25;
        width: $mblMainCircleDim * 0.25;
        height: $mblMainCircleDim * 0.25;
    }
    
    .backLayer {
        background-color: $translucentTeal;
        z-index: -1;
        
        // mobile styles
        margin-top: - $mblMainCircleDim;
        margin-left: $mblMainCircleDim * 0.1;
        width: $mblMainCircleDim * 0.15;
        height: $mblMainCircleDim * 0.15;
    }
    
    .small {
        // mobile styles
        width: $mblMainCircleDim * 0.09;
        height: $mblMainCircleDim * 0.09;
    }
    
    .topLeft {
        background-color: $melon;
    
        // mobile styles
        margin-top: - $mblMainCircleDim * 0.95;
        margin-left: -$baseMargin;
    }   
    
    .bottomRight {
        background-color: $translucentTeal;
    
        // mobile styles
        margin-top: - $mblMainCircleDim * (0.25 / 1.5);
        margin-left: $mblMainCircleDim;
    }   
    
    .middleRight {
        background-color: $melon;
        
        // mobile styles
        margin-left: $mblMainCircleDim * 1.2;
        margin-top: - $mblMainCircleDim * 0.63;
    }
    
    .mainCircle {
        background-color: $blushPink;    
        padding-left: $baseMargin * 2.75;
        color: white;
    
        // mobile styles
        width: $mblMainCircleDim;    
        height: $mblMainCircleDim;
        font-size: $mainCricleFontSize;
    }
}

#aboutMeCircles {
    display: flex;
    justify-content: center;

    $mblMainCircleDim: 70vw;
    
    img.circle {
        width: $mblMainCircleDim / 1.5;
        height: $mblMainCircleDim / 1.5;
        object-fit: cover;
        margin-top: $baseMargin * 4;
        margin-bottom: $baseMargin * 4;
    }
}

#aboutMeText {
    a {
        color: $teal;
        text-decoration: $teal;
    }
    a:hover {
        color: $gray;
    }
}

.ctaButton {
    border-radius: $baseMargin * 5;
    padding: $baseMargin;
    padding-left: $baseMargin * 3;
    padding-right: $baseMargin * 3;
    font-size: $bodyFontSize;//20px

    text-decoration: none;

    margin: $baseMargin * 4 auto;
    margin-top: $baseMargin * -4;
    
    color: $gray;
    background-color: $grayWhite;
    @include softUiShadow();
}

.ctaButton:hover {
    @include softUiInsetShadow();
    color: $teal;
}

// features section 
$mblFeaturesCircleDim: 60vw;

%featuresCircles {
    width: $mblFeaturesCircleDim; 
    height: $mblFeaturesCircleDim;
}

.customTrackingCircle {
    @extend %featuresCircles;
    background-color: transparentize($melon, 0.5); 
    margin-left: 43vw;
}

.customSystemsCircle {
    @extend %featuresCircles;
    @include gradient(0deg, $gradientTeal1, $gradientTeal2);
    margin-left: 3vw;
}

.analyticsCircle {
    @extend %featuresCircles;
    @include gradient(180deg, transparentize($melon, 0.5), transparentize($blushPink, 0.3)); 
    margin-left: 53vw;
}

.featuresImage {
    position: absolute;
}

.customTrackingImage {
    margin-top: -54%;
    margin-left: 33vw;
}

.customSystemsImage {
    margin-top: -59%;
    margin-left: 21vw;
}

.analyticsImage {
    margin-top: -50%;
    margin-left: 15vw;
}

.customSystemsFeaturesCon {
    padding-bottom: $baseMargin * 3;
    padding-left: $baseMargin * 2;
}

.analyticsFeature {
    display: flex;
    flex-direction: column;

    .feature {
        display: contents;

        .ctaButtonSmall {
            order: 6;
        }
    }

    .featureImageCon {
        margin-top: - $baseMargin * 5;
    }
}

.customTrackingFeatureCon {
    .featureText {
        p {
            padding-bottom: $baseMargin * 5;
            line-height: $lineHeight;//4vh;
        }
    }
}

.systemsFeature {
    .featureText {
        h3 {
            padding-top: $baseMargin * 4.5;
        }
    }
}

.featureText {
    line-height: $lineHeight;//4vh;
    
    h3 {
        line-height: $lineHeight;//5vh;
    }
}

.customTrackingFeatureCon {
    .featureImageCon {
        margin-top: - $baseMargin * 5;
    }
}

.feature {
    h3 { 
        padding-top: $baseMargin * 2;
    }

    p {
        font-size: 20px;
        margin: $baseMargin * 3 auto;
        padding-bottom: $baseMargin * 3;
    }
}

.analyticsFeatureCon {
    h3 {
        padding-top: $baseMargin * 10;
    }

    .ctaButton {
        margin-top: $baseMargin * 0.5;
    }
}

// tech stack 
#techStackGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;

    // mobile styles
    img {
        height: 70px;
        // width: 100px;
    }
    
    .adjustHeight {
        height: 50px;
    }

    .adjustWidth {
        width: 130px;
        height: auto;
        padding-left: $baseMargin * 5;
        margin-left: $baseMargin * -4.95;
    }
        
    .vue.adjustHeight {
        // width: 130px;
        // height: auto;
        padding-left: $baseMargin * 2.5;
        // padding-right: $baseMargin * 1.5;
    }

    .gulp.adjustHeight {
        width: 130px;
        height: auto;
        padding-left: $baseMargin * 1.15;
        // padding-right: $baseMargin * 1.5;
    }
}

// about me
 $mblMainCircleDim: 70vw;

 #aboutMeCircles {
     %buttonIcon {
        display: flex;
        justify-content: center;
        font-size: 45px;
        color: white;
        a { 
            color: white;
        }
     }

     %buttonIcon:hover {
         cursor: pointer;
         color: $melon;
         a { 
            color: $melon;
        }
         background-color: $grayWhite;
         @include softUiInsetShadow();
     }

    .github {
        background-color: $teal;
        color: white;

        @extend %buttonIcon;

        // mobile styles
        width: $mblMainCircleDim / 5;
        height: $mblMainCircleDim / 5;
        margin-top: $mblMainCircleDim - $mblMainCircleDim / 2;
        margin-left: -$mblMainCircleDim / 1.5;
    }

    .github:hover {
        a { 
            color: $teal;
        }
    }

    .stackoverflow {
        background-color: $translucentTeal;
        @extend %buttonIcon;

        // mobile styles
        width: $mblMainCircleDim / 6.5;
        height: $mblMainCircleDim / 6.5;
        font-size: 27px;

        margin-top: $mblMainCircleDim / 10;
        margin-left: -14vw;
    }

    .stackoverflow:hover {
        a { 
            color: $translucentTeal;
        }
    }
       
    .twitter {
        background-color: $melon;
        @extend %buttonIcon;

        // mobile styles
        width: $mblMainCircleDim / 5;
        height: $mblMainCircleDim / 5;
        margin-top: $mblMainCircleDim / 10;
        margin-left: 25vw;
    }

    .medium {
        background-color: $melon;
        @extend %buttonIcon;

        // mobile styles
        width: $mblMainCircleDim / 8;
        height: $mblMainCircleDim / 8;
        font-size: 27px;

        margin-top: $mblMainCircleDim / 2;
        margin-left: 7vw;
    }
}

#aboutMeGrid {
    display: grid;
    grid-template-rows: auto auto;
    
    #aboutMeTextCon {
        margin-bottom: 10px;
    }
}

footer {
    font-size: 15px;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    a {
        text-decoration: none;
        color: $teal;
    }
    a:hover {
        color: $gray;
    }

    #signUpLink {
        margin-left: auto;
    }

    margin-bottom: $baseMargin;
}


// desktop
@media screen and (min-width: $desktopWidth) {
    h1, .sectionHeading {
        margin-top: $baseMargin * 6;
        margin-bottom: $baseMargin * 3;
        font-size: 7vw;
    }

    nav#desktopNav {
        display: block !important;
        li {
            a {
                color: $teal;
                font-size: 3vw;
            }
            a:hover {
                color: $gray;
            }
        }
        text-align: right;
        margin-top: -3.5% !important;
    }

    nav#mblNav {
        display: none;
    }

    #heroCon {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    $desktopMainCircleFontSize: 4.5vw;
    
    #heroText {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: $baseMargin * 6;

        p {
            font-size: $desktopMainCircleFontSize * 0.65;
            line-height: $lineHeight;//$desktopMainCircleFontSize * 1.15;
        }
    }

    .ctaButton {
        margin-top: $baseMargin * 0.2;
        font-size: $desktopMainCircleFontSize * 0.65;
        align-self: flex-start;
    }

    // hero section - circles
    $desktopMainCircleDim: 40vw;
    
    #heroCircles {
        margin-left: $baseMargin * 3;

        .topRight {
            margin-left: $desktopMainCircleDim - $desktopMainCircleDim * 0.15 * 1.15;
            margin-top: - $desktopMainCircleDim;
            width: $desktopMainCircleDim * 0.25;
            height: $desktopMainCircleDim * 0.25;
        }

        .bottomLeft {
            margin-top: - $desktopMainCircleDim * 0.25;
            width: $desktopMainCircleDim * 0.25;
            height: $desktopMainCircleDim * 0.25;
        }

        .backLayer {
            margin-top: - $desktopMainCircleDim;
            margin-left: $desktopMainCircleDim * 0.1;
            width: $desktopMainCircleDim * 0.15;
            height: $desktopMainCircleDim * 0.15;
        }

        .small {
            width: $desktopMainCircleDim * 0.09;
            height: $desktopMainCircleDim * 0.09;
        }

        .topLeft {
            margin-top: - $desktopMainCircleDim * 0.95;
            margin-left: -$baseMargin;
        }   

        .bottomRight {
            margin-top: - $desktopMainCircleDim * (0.25 / 1.5);
            margin-left: $desktopMainCircleDim;
        }   

        .middleRight {
            margin-left: $desktopMainCircleDim * 1.23;
            margin-top: - $desktopMainCircleDim * 0.63;
        }

        .mainCircle {
            padding-left: $baseMargin * 3;
            width: $desktopMainCircleDim;    
            height: $desktopMainCircleDim; 
            font-size: $desktopMainCircleFontSize;

            p {
                margin-left: $baseMargin * 2;
            }
        }
    }

    #techStackGrid {
        img {
            height: 80px;
        }
        
        .adjustHeight {
            height: 80px;
        }

        .mongo {
            height: 100px;
        }
    
        .adjustWidth {
            width: 18vw;
            height: auto;
            padding-left: $baseMargin * 5;
            margin-left: $baseMargin * -4.95;
        }
            
        .gulp.adjustHeight, .express {
            width: 15vw;
            height: auto;
            padding-left: $baseMargin * 1.15;
        }
    }

    // about me
    $desktopAboutMeCircleDim: 20vw;

    #aboutMeCircles {
        $largeFaFontSize: 5vw;
        $mediumFaFontSize: 2.5vw;
        $smallFaFontSize: 1.5vw;

        img.circle {
            width: $desktopAboutMeCircleDim;
            height: $desktopAboutMeCircleDim;
        }

        .overlay {
            position: absolute;
        }

        .fa {
            margin-top: 6px;
        }

        .github {
            width: $desktopAboutMeCircleDim / 3;
            height: $desktopAboutMeCircleDim / 3;
            margin-top: $desktopAboutMeCircleDim - $desktopAboutMeCircleDim / 3.25;
            margin-left: -$desktopAboutMeCircleDim;
            font-size: $largeFaFontSize;
        }

        .stackoverflow {
            width: $desktopAboutMeCircleDim / 4.5;
            height: $desktopAboutMeCircleDim / 4.5;
            font-size: $mediumFaFontSize;

            margin-top: $desktopAboutMeCircleDim / 10;
            margin-left: -14vw;
        }
        
        .twitter {
            width: $desktopAboutMeCircleDim / 3;
            height: $desktopAboutMeCircleDim / 3;
            margin-top: $desktopAboutMeCircleDim / 7;
            margin-left: 16vw;
            font-size: $largeFaFontSize;
        }

        .medium {
            width: $desktopAboutMeCircleDim / 8;
            height: $desktopAboutMeCircleDim / 8;
            font-size: $smallFaFontSize;
            margin-top: $desktopAboutMeCircleDim / 1.25;
            margin-left: 26vw;
        }
    }

    #aboutMeGridCon {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #aboutMeGrid {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;

        width: 80vw;
        margin-left: 4vw;
        
        #aboutMeTextCon {
            display: contents;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;

            margin-left: 5vw;
            font-size: 2vw;
            width: 80%;

            line-height: $lineHeight;//3vw;

            span {
                display: inline;
            }
        }
    }

    // features 
    .leftFeatureText {
        margin-left: $baseMargin * 3;
    }

    .customTrackingFeatureCon {
        .featureText {
            p {
                padding-bottom: $baseMargin * 5;
                line-height: 5vw !important;//$lineHeight * 2 !important;//8vh;
            }
        }
    }

    .featureText {
        p {
            font-size: 3vw;
            line-height: 5vw !important;//$lineHeight * 2 !important;//8vh;
        }
        
        h3 {
            line-height: 6vw !important;//$lineHeight * 2 !important;//10vh;
        }
    }
    
    .feature {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    %featuresCircles {
        width: $desktopMainCircleDim; 
        height: $desktopMainCircleDim;
    }
    
    // custom tracking feature
    .customTrackingImage {
        margin-top: -27%;
        margin-left: 23vw;
    }

    .customTrackingCircle {
        @extend %featuresCircles;
        margin-top: 16vh; 
        margin-left: 13.5vw;
    }
    
    // custom systems feature
    .systemsFeature {
        display: flex;
        flex-direction: row;

        .featureText {
            margin-left: 10vw;
            order: 2;
        }
    
        .customSystems {
            order: 1;
        }
    }

    .featureText {
        width: 43vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-size: 5vw;
        }
    }

    .customSystemsCircle {
        @extend %featuresCircles;
        margin-left: 3.5vw;
        margin-top: 12vh;
    }

    .customSystemsImage {
        margin-top: -80vh;
        margin-left: 15vw;
    }

    // analytics feature
    .analyticsCircle {
        @extend %featuresCircles;
        margin-left: 20vw;
        margin-top: 23vh;
    }
 
    .analyticsFeature {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .feature {
            display: initial;
    
            .ctaButtonSmall {
                order: 6;
                margin-top: - $baseMargin;
                font-size: 3vw;
            }
        }

        .analyticsImage {
            margin-left: 12vw;
            margin-top: -60vh;
        }
    }

}

// small-desktop
@media screen and (min-width: $desktopWidth) and (max-width: 1534px) {
    .customTrackingImage {
        margin-top: -27%;
    }

    .customSystemsImage {
        margin-top: -40%;
    }

    .analyticsCircle {
        margin-top: 26vh;
        margin-left: 20vw;
    }

    .analyticsFeature {
        .analyticsImage {
            margin-top: -30%;
            margin-left: 12vw;
        }
    }

    .customTrackingFeatureCon {
        .featureText {
            p {
                line-height: $lineHeight;//8vh;
            }
        }
    }

    .featureText {
        p {
            line-height: $lineHeight;//8vh;
        }
        
        h3 {
            line-height: $lineHeight;//10vh;
        }
    }
}
